@model IEnumerable<SpdKecPornografiWeb.ViewModels.QuestionResponseDto>

@{
    ViewBag.Title = "title";
}

<h2>Sistem Pakar Diagnosa Tingkat Keccanduan Pornografi</h2>
<table>
    <tbody>
    @foreach (var questionResponseDto in Model)
    {
        <tr>
            <td>@questionResponseDto.QuestionCode</td>
            <td>@questionResponseDto.QuestionName</td>
        </tr>
    }
    </tbody>
</table>
