@media (max-width: 768px) {
    /*.sidebar {*/
    /*    display: block; !* Sembunyikan sidebar ketika lebar layar kurang dari atau sama dengan 768px *!*/
    /*}*/
    .menuText {
        display: none;
    }
    .titleMenu {
        display: none;
    }
    .menuContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*.sidebar.visible {*/
    /*    display: block; !* Tampilkan sidebar jika masih dalam mode visible *!*/
    /*}*/
    
    /*.sidebar.hidden {*/
    /*    display: none; !* Sembunyikan sidebar jika masih dalam mode hidden *!*/
    /*}*/
}
@media (max-width: 650px) {
    .nameLoggedIn {
        display: none;
    }
}